<div class="row">
  <div class="col-xs-3 table-row text-left"><%= asignacion_proyecto.empleado.nombre %></div>
  <div class="col-xs-3 table-row text-left"><%= asignacion_proyecto.empleado.apellidos %></div>
  <div class="col-xs-3 table-row text-left"><%= asignacion_proyecto.participacion %></div>
</div>
